body { 
    background-color: black;
}

h2{
    display: block;
    font-size: 1.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.slide{
    background-size: cover;
    background-position: center;
}

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
}

.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li a:before {
    content: "\f14f";
    display: inline-block;
    margin-left: -28px;
    margin-right: 7px;
    visibility: hidden;
    transition: .22s ease;
}